@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #000300;

}

#rImg {
  width: 500px;

}

#hImg {
  height: 350px;
}

@layer components {
  .inputClass {
    @apply text-center w-full h-12 font-bold text-[#720E07];

  }
}