[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
alembic = "*"         
aniso8601 = "*"        
bcrypt  = "*"          
blinker = "*"            
click   = "*"            
Flask-Alembic  = "*"     
Flask-Bcrypt  = "*"         
Flask-Cors = "*"           
Flask-Migrate  = "*"       
Flask-RESTful  = "*"      
flask-serialize   = "*"     
Flask-SQLAlchemy   = "*"    
greenlet   = "*"    
importlib-metadata     = "*"    
itsdangerous  = "*"             
Jinja2  = "*"                  
Mako    = "*"                  
MarkupSafe  = "*"              
permissive-dict   = "*"       
pip       = "*"               
pytz   = "*"                 
setuptools    = "*"          
six     = "*"                 
SQLAlchemy    = "*"         
SQLAlchemy-serializer  = "*"    
typing_extensions    = "*"     
Werkzeug   = "*"         
wheel   = "*"                
zipp     = "*"          

[dev-packages]

[requires]
python_version = "3.8"
