* {
  /* background: #6f6f6f; */
  font-family: Trebuchet MS;
  text-align: center;
 

}

img {
  width: 400px
}

form{

  width: 400px; /* Set the width of the sidebar */
  display: inline-block;
  flex-direction: column;
  background-color: red;


}

button {
  background-color: red;

}
