* {
  /* background: #6f6f6f; */
  font-family: Trebuchet MS;
  text-align: center;
 

}

img {
  width: 400px
}

form{

  width: 500px; 
  display: inline-block;
  flex-direction: column;
  background-color: red;


}

button {
  background-color: red;

}

.salonCard {
  border-style: solid;
}

.reviewCard{
  border-style: solid;
}

header {
  background-color: red;
}